@import "../variables";

.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 8rem;
  background: $purple_light1;
  border-top: 1rem solid $purple_dark1;
  font-size: 2rem;

  a, a:visited {
    text-decoration: none;
    font-weight: bold;
  }

  &__item {
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    color: $off_yellow;
  }

  &__item:hover {
    background: $off_yellow;
    color: $purple_light1;
  }
}
