@import "../variables";

.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 4rem;
  background: $purple_light1;

  a, a:visited {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }

  &__item {
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    color: $off_yellow
  }

  &__item:hover {
    background: $off_yellow;
    color: $purple_light1;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
}
