@import "../variables";

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: $red_orange;
  box-shadow: 0 0 2rem darken($red_orange, 10%);
  transition: box-shadow 0.2s ease-in-out;
  margin: 1rem;
  width: 100%;

  @media screen and (min-width: 750px) {
    width: 75rem;
  }

  &:hover {
    box-shadow: 0 0 2rem darken($red_orange, 20%);
  }



  &__header {
    word-wrap: break-all;
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 750px) {
      flex-direction: row;
    }

    a:visited, a {
      color: $purple_dark1
    }

    h3 {
      color: $purple_dark1;
      font-size: 4rem;
    }

    * {
      margin: 0;
    }

    &--loader {
      background-color: $purple_dark1;
    }
  }

  &__icon {
    outline: $purple_dark1;
  }

  &__tags {
    display: flex;
    width: 100%;
    margin: 0.5rem;
    align-items: center;
    flex-wrap: wrap;

    a, a:visited {
      text-decoration: none;
      color: inherit;
    }
  }

  &__tag {
    color: $purple_dark2;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    font-size: 1.5rem;
  }

  &__tag:hover {
    cursor: pointer;
    color: $red_orange;
    background-color: $purple_dark1;
  }

  &__tag-icon {
    outline: $purple_dark2;
    margin-right: 0.25rem;
  }

  &__icon-section {
    display:flex
  }

  &__desc {
    font-size: 2rem;
    color: $purple_dark1;
  }
}
