//https://colorhunt.co/palette/46244c712b75c74b50d49b54
//https://colorhunt.co/palette/3f3b6c624f829f73aba3c7d6

$purple_dark1: #46244C;
$purple_dark2: #3F3B6C;
$purple_light3: #624F82;

$purple_light1: #712B75;
$purple_light2: #9F73AB;

$cyan: #A3C7D6;
$red_orange: #C74B50;
$off_yellow: #D49B54;
